html
    head
    body
        form(action='/api/delete', method='POST')
            p
                | ID:
                input(name='ID', value='', type='text')
            input(value='Submit', type='submit')