extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner Auth0Site
        div.Message
            div.Title
                h3 Lorem Ipsum Title
                h1 Main Lorem Ipsum Title
            span.Details Access the Auth0Site Web Portal
        div.NavButtons
            if isAuthenticated
                a(href="/user")
                    div.NavButton My Profile
            else
                a(href="/login")
                    div.NavButton Log in